In [1]:
# configura el notebook para que las celdas tomen todo el ancho de la pantalla
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

<center><h1>*JORGE CARDONA*</h1></center>

In [2]:
a = [0, 1, 2, 77, 99, 9]
b = [0, 1, 2, 77, 99, 9, 5, 4, 99, 9, 77, 3]
c = [9, 77, 99, 6, 7 , 8]

<center><h1>*OPERACIONES CON ELEMENTOS DE LAS LISTAS*</h1></center>

<center><h1>*INDEX*</h1></center>

In [3]:
c.index(6)

3

<center><h1>*IN*</h1></center>

In [4]:
7 in c

True

<center><h1>*NOT IN*</h1></center>

In [5]:
5 not in c

True

<center><h1>*SUM*</h1></center>

In [16]:
sum(a)

188

In [6]:
a

[0, 1, 2, 77, 99, 9]

In [7]:
b

[0, 1, 2, 77, 99, 9, 5, 4, 99, 9, 77, 3]

In [8]:
c

[9, 77, 99, 6, 7, 8]

<center><h1>*ALL*</h1></center>

In [9]:
all(valores in b for valores in a)

True

In [28]:
[valores in b for valores in a]

[True, True, True, True, True, True]

In [29]:
[valores in c for valores in a]

[False, False, False, True, True, True]

<center><h1>*ANY*</h1></center>

In [10]:
any(valores in c for valores in a)

True

In [11]:
lista = ['b','c','a','d','e','f']

<center><h1>*ENUMERATE*</h1></center>

In [12]:
for numero, contenido in enumerate(lista):
    print(numero, contenido)

0 b
1 c
2 a
3 d
4 e
5 f

<center><h1>*MIN*</h1></center>

In [13]:
min(lista)

'a'

<center><h1>*MAX*</h1></center>

In [14]:
max(lista)

'f'

<center><h1>*SLICE*</h1></center>

<img src="slice.jpg">

In [17]:
a

[0, 1, 2, 77, 99, 9]

<center><h1>*INVERTIR ELEMENTOS DE LA LISTA*</h1></center>

In [18]:
a[::-1]

[9, 99, 77, 2, 1, 0]

<center><h1>*OTRA MANERA DE INVERTIR ELEMENTOS DE LA LISTA*</h1></center>

In [24]:
list(reversed(a))

[9, 99, 77, 2, 1, 0]

<center><h1>*VALORES DE POSICIONES PARES DE UNA LISTA - ODD*</h1></center>

In [19]:
a[0::2]

[0, 2, 99]

<center><h1>*INVERTIR ELEMENTOS DE LA LISTA POSICIONES PARES*</h1></center>

In [20]:
a[0::2][::-1]

[99, 2, 0]

<center><h1>*VALORES DE POSICIONES IMPARES DE UNA LISTA - EVEN*</h1></center>

In [21]:
a[1::2]

[1, 77, 9]

<center><h1>*INVERTIR ELEMENTOS DE LA LISTA POSICIONES IMPARES*</h1></center>

In [22]:
a[1::2][::-1]

[9, 77, 1]

<center><h1>*CADA 3 POSICIONES INICIANDO EN CERO*</h1></center>

In [26]:
a[0::3]

[0, 77]